.padding_about {
  // padding: 0 15%;

  h1,
  p {
    color: #cacaca;
    text-align: center;
  }

  .about_content {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about_social {
    position: absolute;
    top: 25%;
    display: flex;
    flex-direction: column;
    left: 0;
    color: #fff;

    span{
      font-size: .9rem;
      margin-bottom: 10px;
    }

    a {


      i {
        width: 55px;
        height: 55px;
        line-height: 55px;
        text-align: center;
        font-size: 2rem;
        transition: all 0.5s;

        &:hover{
          width: 75px;
          padding-left: 15px;
          cursor: pointer;
        }
      }

      .facebook {
        background-color: #4868ad;
      }
      .github {
        background-color: #4e545a;
      }
      .linkedin {
        background-color: #0077ba;
      }
      .google {
        background-color: #ea4335;
      }
    }
  }

  @media screen and (max-width: 576px) {
    h1{
      font-size: 2.2rem;
    }
    .about_social{
      flex-direction: row;
      align-items: center;
      top:85%;

      span{
        margin-right: 10px;
      }
    }
  }
}
